@keyframes hej{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(90deg);
  }
}

.active{
  animation: hej 2s forwards;
  color: red;
}

div{
  width: 2rem;
  height: 2rem;
  background-color: red;
}